
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h2>Form Create</h2>
    @*
       1. Nhảy vào phương thức get bên controller
       2. Nhấn Create di chuyển theo link tới form input
    *@
    <a href="/Home/Create" >Create</a> 
</body>
</html>
