@* @page
@model MVCCoreAPP.Views.Shared._LayoutsModel *@  @*gắn layout vào view*@
@model MVCCoreAPP.Models.IndexModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layouts";
}

 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
    <p>@Model.Message</p>
</head>
<body>
</body>
</html>